

#header {
    width: 100%; /* Garante que o header ocupe 100% da largura */
}

.bg-custom {
    background-color: #54d069; /* Cor de fundo escura (pode ser alterada) */
    width: 100%;
}

.navbar-brand, .nav-link, .name {
    color: white
}

.navbar-nav .nav-link {
    font-size: 1.1rem; /* Aumenta o tamanho da fonte */
}

.logo {
    padding: 10px; /* Adiciona um padding de 10px à imagem */
    height: 40px; /* Ajuste a altura da imagem conforme necessário */
}

.name {
    font-size: 1.5rem; /* Tamanho da fonte */
    font-weight: bold; /* Deixa o texto em negrito */
    /* Você pode ajustar as margens se necessário */
}

#secao1,#secao2, #secao3{

    
    width: 100%;
    height: auto;
    display: flex;
    padding: 15px;
    margin-top: 5px;
    background-color: aliceblue;
 
   

    
}

#tituloSite, #tituloSite2,#tituloSite3{

    width: 50%;
    height: auto;
    display: flex;
    align-items: start;
    padding-left: 50px;
    justify-content:center;
    flex-direction: column;
    font-size: 30%;
    
}
#imgTitulo,#imgTitulo2,#secao3Form{

    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
#imgTitulo2 img{
    width: 100%;
    height: 200px;
}

#imgTitulo img{

    width: 40%;
    height: auto;
    border-radius: 100%;
   
}
#s2Title
{
    width: 100%;
    text-align: center;
    margin: 80px;
}

#tituloSite2{

    width: 50%;
    height: auto;
    display: flex;
    padding-left: 50px;
    justify-content:start;
    flex-direction: column;
    font-size: 30%;
}

#imgTitulo2 img{

    width: 50%;
    height: auto;
    display: flex;
    border-radius: 5%;
   
}

#secao3Form{

    
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-content: start;
    gap: 20px;
    padding-top: 20px;
   
   
}

.form-select{

  width: 60%;
 
}
#tituloSite3{

    width: 100%;
    height: auto;
   

}
#cardsNamePlace{

    width: 50%;
    height: auto;    
    display: flex;   
    gap: 20px;
    color: black;
    margin: 50px;
    text-align: justify;
}
#cardsNamePlace img{

    width: 50%;
    
}
.cardDescription {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#imageDescription{

    display: flex;
    align-content:baseline;
    align-items: baseline;
    font-size: 10px;
    text-align: justify;

}

#imageDescription img{

    width: 10%;
    height: auto;
    border-radius: 100%;
    
}
#section4H1{
    text-align: center;
    margin: 20PX 0 0 0;
    background-color:rgb(196, 190, 190) ;
}

#section4{

    width: 100%;
    height: 500px;
    background-color: rgb(196, 190, 190);
    display: flex;
}
#section4 h1{
    text-align: center;
    padding:20px;
}

#section4Text{
    width: 50%;
    height: auto;
    padding: 50px;
    text-align: justify;
}
#section4Img{
    width: 50%;
    height: 500px;
    display: flex;
}

.section4Imgs{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    gap: 10px;

}

.section4Imgs img{
    width: 100%;
    height: 400px;
}

footer{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #54d069;
    color: antiquewhite;
}

/* PARTE DO BLOG*/