* h1{

    text-align: center;
    
}

* h2, h3, h4, h5, h6{

    text-align: justify;
    
}


#carrosel {
    width: 100%;
}

.carousel-img {
    height: auto;
    object-fit: cover;
 
}

.carousel-inner > .carousel-item > img {
    width: 100%;
    height: 500px; 
    border-radius: 10px;
  
 }

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgb(3, 123, 61); 
} 
#areaFotosCarrosel{

    width: 100%;
    height: 600px;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 0%;
    background-color: rgba(0, 0, 0, 0.193);
}

#fotoCarrosel{

    width: 50%;
    height: auto;  
    border-radius: 10px;
    border-radius: 10px;
         
}


#header {
    width: 100%; 
}

.bg-custom {
    background-color: #54d069; 
    width: 100%;
}

.navbar-brand, .nav-link, .name {
    color: white
}

.navbar-nav .nav-link {
    font-size: 1.1rem; 
}

.logo {
    padding: 10px; /* Adiciona um padding de 10px à imagem */
    height: 40px; /* Ajuste a altura da imagem conforme necessário */
}

.name {
    font-size: 1.5rem; /* Tamanho da fonte */
    font-weight: bold; /* Deixa o texto em negrito */
    /* Você pode ajustar as margens se necessário */
}

#sectionCardsMaster{

    width: 100%;
    height: auto;   
    display: flex;
    justify-content: center;

    
}

#sectionCards {

    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.cartao {
    width: calc(25% - 20px); /* Quatro cards por linha */
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.cartao img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.descricaoCards {
    margin-top: 10px;
}

.autor-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

#imageDescription {
    display: flex;
    align-items: center;
}



footer{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #54d069;
    color: antiquewhite;
}

/* PARTE DO BLOG*/